<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rntr</title>
        <link rel="stylesheet" href="~/css/myprofile.css"/>
<link href="https://fonts.googleapis.com/css?family=Biryani:900&display=swap" rel="stylesheet"></head>
    <body>


<div class = "header">
    @if(@ViewBag.LoggedInUser.UserPhoto != null){
        <img src = "@ViewBag.Image"/>
    }
<h1>@ViewBag.LoggedInUser.FirstName's profile page</h1>

    @if(@ViewBag.LoggedInUser.UserPhoto == null){
        <a href = "/addprofilepicture">Add your profile picture here </a>
}
</div>
<br>
<br>

<div class = "maincontainer">

<div class = "navbar">
<h3><a href = "/editmyprofile">Edit Your Information</a> </h3>
<h3><a href = "/editmytools">Edit Your Tools</a> </h3>
</div>

<div class = "profileinfo">
<h1>First Name: @ViewBag.LoggedInUser.FirstName</h1>
<h1>Last Name: @ViewBag.LoggedInUser.LastName</h1>
<h1>Email: @ViewBag.LoggedInUser.Email</h1>
<h1>Joined Rntr: @ViewBag.LoggedInUser.Created_at</h1>
</div>
</div>

<div class = "AllToolsHeader">
    <h1> All Your Tools </h1>
</div>


<div class = "ToolContainer">
    @foreach(var x in @ViewBag.AllMyTools){
        <div class = "OneTool">
            <h4>@{
            var base64 = Convert.ToBase64String(@x.ToolImage1);
            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
        }
        <img id = "ToolImage" src="@imgSrc"/>
            </h4>
            <h4>@x.ToolName</h4>
            <h4>@x.Description</h4>
            <h4><a href = "/delete/@x.ToolId">Delete</a></h4>
            </div>
        }
</div>

<div class = "logout">
<h3> <a href = "/logout">Logout</a><h3>
    </div>

<div class = "back">
<h3> <a href = "/Dashboard">Back</a><h3>
</div>

</body>
</html>